pkgbase = mutter
	pkgdesc = Window manager and compositor for GNOME
	pkgver = 49.1
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = egl-wayland
	depends = fontconfig
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libgirepository
	depends = libglvnd
	depends = libgudev
	depends = libice
	depends = libinput
	depends = libpipewire
	depends = libsm
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = python-argcomplete
	depends = python-dbus
	depends = python-gobject
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=49.1
	source = git+https://gitlab.gnome.org/GNOME/gvdb.git#commit=b54bc5da25127ef416858a3ad92e57159ff565b3
	source = 0001-xwayland-Fix-guards-in-meta_window_xwayland_stage_to.patch
	source = 0002-xwayland-dnd-Pass-dest-to-meta_x11_display_lookup_x_.patch
	b2sums = 6fbecaaaf6de11fef0e1fc1160d541f686aa7dd51b65b3a74384e9f20c11dda575330a29772dad5e5d12439444c9610e2886620dbd491b58c6fc57518c7753a0
	b2sums = f989bc2ceb52aad3c6a23c439df3bbc672bc11d561a247d19971d30cc85ed5d42295de40f8e55b13404ed32aa44f12307c9f5b470f2e288d1c9c8329255c43bf
	b2sums = 6bb2ca71b8156162ebe8b557d359abf92779ac0684957900ecc4de5b813e64ed3bafb426acb23df2003c73aa1969786eb49dc6a00b80163db14b318da98203ba
	b2sums = 9a75295f399516426aa279db5dca3b3d72b971e6f34af72c1f1200f6feac182fc528410610da81baa1fc3bdb9180a4e88b836aa947d3a479d1fd00354c698db3

pkgname = mutter
	optdepends = bash-completion: Bash completions for gdctl
	optdepends = mutter-devkit: Mutter SDK, "MDK"
	provides = libmutter-17.so

pkgname = mutter-devkit
	pkgdesc = GNOME Mutter Development Kit
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libei
	depends = libpipewire
	depends = mutter

pkgname = mutter-docs
	pkgdesc = Window manager and compositor for GNOME (documentation)
	depends = 
