pkgbase = mutter
	pkgdesc = Window manager and compositor for GNOME
	pkgver = 46.0
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = gnome-session
	checkdepends = python-dbusmock
	checkdepends = wireplumber
	checkdepends = zenity
	makedepends = egl-wayland
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk3
	makedepends = meson
	makedepends = sysprof
	makedepends = wayland-protocols
	makedepends = xorg-server
	makedepends = xorg-server-xvfb
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = fontconfig
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libglvnd
	depends = libgudev
	depends = libice
	depends = libinput
	depends = libpipewire
	depends = libsm
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=46.0
	source = 0001-drm-buffer-gbm-Do-not-call-ensure_fb_id-from-lock_fr.patch
	b2sums = 04a14854c8ec2668a340b241102b7b2ebbc0387a9771a5bd2c2366419ee08e7ebb308f2288f4a64b9d08053e1897eb514a46802584d1590f8bcebde4a613afaa
	b2sums = fed7d496b658a43b306e62a57c817c54990e8764103eae5479b8a96fbdf25da1ae6028126aa3cccda6239ff1f0c4e69bbe6f12e29804651c1a7b6ca40d6bf36c

pkgname = mutter
	provides = libmutter-14.so

pkgname = mutter-docs
	pkgdesc = Window manager and compositor for GNOME (documentation)
	depends = 
